HTML,BUTTON,TEXTAREA,INPUT,SELECT{
	COLOR:RED;
}
BODY{
	FONT-SIZE:1EM;
	LINE-HEIGHT:1.4;
	FONT:16PX PAPYRUS;
}
.CONTAINER{
	WIDTH:90%;
	MARGIN:0 5%
}
color de sitio web
.HEADER-CONTAINER{
border-bottom: 20px solid #e44d22
}

.FOOTER-CONTAINER,.MAIN ASIDE{
	border-top:20px solid #e44d26
}
.TITLE{
	COLOR:BLACK
	font-family: 'Happy Monkey', cursive;
}
MENU
NAV UL{
	MARGIN:0;
	PADDING:0;
}

NAV A{
	DISPLAY:BLOCK;
	MARGIN-BOTTOM: 10PX;
	PADDING:15PX;
	TEXT-ALIGN:CENTER;
	TEXT-DECORATION:none;
	FONT-WEIGHT:BOLD;
	COLOR:WHITE;
	background:#E44D18;
}
NAV A:HOVER, NAV A:VISITED{
	COLOR:WHITE;
}
NAV A:HOVER{
	TEXT-DECORATION:underline;
}
NAV LI{
	LIST-STYLE:NONE;
}
.MAIN{
	PADDING:30PX 0;
}
.MAIN ARTICLE H1{
	FONT-SIZE: 2EM;
}
.MAIN ASIDE{
	COLOR:WHITE;
	PADDING:0PX 5% 0PX;
}
.FOOTER-CONTAINER FOOTER{
	COLOR:WHITE;
	PADDING:20PX 0;
}
.CLEARFIX:BEFORE, .CLEARFIX:AFTER{
	CONTENT: " ";
	DISPLAY:TABLE;
}
@MEDIA ONLY SCREEN AND (MIN-WIDTH: 480PX){
	APLICA A PANTALLAS MAS ANCHAS DE 480PX
	H1{
	COLOR:ORANGE;
	}
	NAV A{
		FLOAT:LEFT;
		WIDTH:27%;
		MARGIN:0 1.7%;
		PADDING:25PX 2%;
		MARGIN-BOTTOM:0;
	}
	NAV LI:FIRST-CHILD A{
		MARGIN-LEFT:0;
	}
	NAV LI:LAST-CHILD A{
		MARGIN-RIGHT:0;
	}
	NAV UL LI{
		DISPLAY:INLINE;
	}
	.TITLE{
		font-family: 'Spirax', cursive;
	}
	NAV{
		FLOAT:LEFT;
		WIDTH: 38%;
		
	}
	.MAIN ARTICLE{
		FLOAT: LEFT;
		WIDTH: 57%;
		
	}
	.MAIN ASIDE{
		FLOAT: LEFT;
		WIDTH: 28%
}
	}
/* } FIN 480PX */

@MEDIA ONLY SCREEN AND (MIN-WIDTH: 780PX){
	HEADER-CONTAINER, .MAIN ASIDE{
		-WEBKIT-BOX-SHADOW: 0 5PX 10PX #AAA;
		   -MOZ-BOX-SHADOW: 0 5PX 10PX #AAA;
				BOX-SHADOW: 0 5PX 10PX #AAA;
		background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#519B55), to(#CB4E28))
	}
	.TITLE{
		FLOAT:LEFT;
		font-family: 'Kelly Slab', cursive;
	}
	NAV{
		FLOAT:RIGHT;
		WIDTH: 38%;
		
	}
	.MAIN ARTICLE{
		FLOAT: LEFT;
		WIDTH: 57%;
		
	}
	.MAIN ASIDE{
		FLOAT: RIGHT;
		WIDTH: 28%
}
	}